.header {
    margin-bottom: -20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(196, 92, 67);
    font-size: 30px;
    margin-bottom: 50px;
}