.header {
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: bisque;
    font-style: italic;
    background-color: rgb(196, 92, 67);
    font-size: 30px;
    
}

.Title {
    font-size: 30px;
    padding-top: 10px;
    color: white;
}

p {
    font-size: 20px;
    color: white;
}

.Card {
    margin: auto;
    float: none;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid;
    border-color: rgba(230, 230, 230, 0.37);
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(121, 49, 150);
}

ul {
    background-color: burlywood;
    text-align: center;
    border: 1px solid;
    display: inline-block;
    border-radius: 5px;
    border-color: rgba(230, 230, 230, 0.37);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: rgb(48, 44, 44);
    font-size: 20px;
    font-weight: 400;
    width: 100px;
}

.List {
    margin-top: 10px;
}

.button,
.submit {
    max-width: 50%;
    display: inline-block;
    margin-top: 10px;
}

.text-center {
    text-align: center;
    color: blueviolet;
    font-size: 15px;
}